<dom-module id="simple-line-chart">
    <template>
        <paper-button raised on-click="onClick">Add some data</paper-button>
        <vaadin-line-chart>
            <chart-title>Some chart</chart-title>

            <data-series name="some long name" data="[[seriesData]]">

            </data-series>
            <data-series name="some long name" data="[[seriesData]]">

            </data-series>
            <data-series name="some long name" data="[[seriesData]]">

            </data-series>
            <data-series name="some long name" data="[[seriesData]]">

            </data-series>
            <data-series name="some long name" data="[[seriesData]]">

            </data-series>
        </vaadin-line-chart>
    </template>
    <script>
        Polymer({
            is: 'simple-line-chart',
            onClick:function(e) {
                this.seriesData=[1, 2, 4, 5, 6]
            },
            properties: {
                seriesData: {
                    type: Array,
                    value: [123, 232,42, 452, 522]
                }
            }
        });
    </script>
</dom-module>


